In [1]:
# 创建数据 
# 我们可以根据自己的需求, 用 pandas 进行更改数据里面的值, 或者加上一些空的,或者有数值的列.

# 首先建立了一个 6X4 的矩阵数据。

import numpy as np
import pandas as pd

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])

"""
             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23
"""

'\n             A   B   C   D\n2013-01-01   0   1   2   3\n2013-01-02   4   5   6   7\n2013-01-03   8   9  10  11\n2013-01-04  12  13  14  15\n2013-01-05  16  17  18  19\n2013-01-06  20  21  22  23\n'

In [ ]:
# 1.loc：
# 通过行标签索引行数据
# 例：loc[n]表示索引的是第n行（index 是整数）
# loc[‘d’]表示索引的是第’d’行（index 是字符）
# 有行索引可以没有字段取值，但有字段取值前必须得有行索引，
# 而且行索引只能为标签索引形式来取，不能按切片形式来取。
# 单取切片形式可以，只是索引为左闭右闭。


# 2. .iloc：
# 通过行索引获取行数据，不能是字符，取索引必须按切片形式来取，不能按标签，
#这是与loc的不同。索引为左闭右开。iloc也可以取指定行列，只不过得按切片形式索引，不能直接拿标签索引来做。



# 建议：
# 当用位置/行索引的时候, 尽量用 iloc 来进行索引; 而用标签索引的时候用 loc 。

In [2]:
# 二、根据位置设置 loc 和 iloc 
# 我们可以利用索引或者标签确定需要修改值的位置。

df.iloc[2,2] = 1111
df.loc['20130101','B'] = 2222

"""
             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     9  1111  11
2013-01-04  12    13    14  15
2013-01-05  16    17    18  19
2013-01-06  20    21    22  23
"""


# 三、根据条件设置 
# 如果现在的判断条件是这样, 我们想要更改B中的数, 而更改的位置是取决于 A 的. 对于A大于4的位置. 更改B在相应位置上的数为0.

df.B[df.A>4] = 0
"""
                A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     0  1111  11
2013-01-04  12     0    14  15
2013-01-05  16     0    18  19
2013-01-06  20     0    22  23 
"""

'\n                A     B     C   D\n2013-01-01   0  2222     2   3\n2013-01-02   4     5     6   7\n2013-01-03   8     0  1111  11\n2013-01-04  12     0    14  15\n2013-01-05  16     0    18  19\n2013-01-06  20     0    22  23 \n'

In [3]:
# 按行或列设置 
# 如果对整列做批处理, 加上一列 ‘F’, 并将 F 列全改为 NaN, 如下:

df['F'] = np.nan
"""
             A     B     C   D   F
2013-01-01   0  2222     2   3 NaN
2013-01-02   4     5     6   7 NaN
2013-01-03   8     0  1111  11 NaN
2013-01-04  12     0    14  15 NaN
2013-01-05  16     0    18  19 NaN
2013-01-06  20     0    22  23 NaN
"""
# 添加数据 
# 用上面的方法也可以加上 Series 序列（但是长度必须对齐）。

df['E'] = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101',periods=6)) 
"""
             A     B     C   D   F  E
2013-01-01   0  2222     2   3 NaN  1
2013-01-02   4     5     6   7 NaN  2
2013-01-03   8     0  1111  11 NaN  3
2013-01-04  12     0    14  15 NaN  4
2013-01-05  16     0    18  19 NaN  5
2013-01-06  20     0    22  23 NaN  6
"""
# 这样我们大概学会了如何对DataFrame中在自己想要的地方赋值或者增加数据。 下次课会将pandas如何处理丢失数据的过程。

'\n             A     B     C   D   F  E\n2013-01-01   0  2222     2   3 NaN  1\n2013-01-02   4     5     6   7 NaN  2\n2013-01-03   8     0  1111  11 NaN  3\n2013-01-04  12     0    14  15 NaN  4\n2013-01-05  16     0    18  19 NaN  5\n2013-01-06  20     0    22  23 NaN  6\n'